In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('Book2.csv')

In [3]:
df

   speed  car_age  experience  risk
0    130        4        10.0    80
1     80        1         NaN    90
2    230        2         8.0    70
3     70       10        12.0    20
4    210        9        13.0    50
5      0        1         1.0     0
6    200       12        12.0    12

In [4]:
df.head(3)

   speed  car_age  experience  risk
0    130        4        10.0    80
1     80        1         NaN    90
2    230        2         8.0    70

In [7]:
df.experience

0    10.0
1     NaN
2     8.0
3    12.0
4    13.0
5     1.0
6    12.0
Name: experience, dtype: float64

In [11]:
exm_fit = df.experience.median()

In [12]:
exm_fit

11.0

In [13]:
df.experience = df.experience.fillna(exm_fit)

In [14]:
df.experience

0    10.0
1    11.0
2     8.0
3    12.0
4    13.0
5     1.0
6    12.0
Name: experience, dtype: float64

In [15]:
df

   speed  car_age  experience  risk
0    130        4        10.0    80
1     80        1        11.0    90
2    230        2         8.0    70
3     70       10        12.0    20
4    210        9        13.0    50
5      0        1         1.0     0
6    200       12        12.0    12

In [16]:
reg = linear_model.LinearRegression()

In [17]:
reg.fit(df[['speed','car_age', 'experience']], df.risk)

LinearRegression()

In [18]:
reg.predict([[160,10,5]])

C:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-33.13624427])

In [19]:
reg.coef_

array([ 0.08390596, -9.24815078,  8.87631958])

In [20]:
reg.intercept_

1.538712759952091

In [21]:
0.08390596*160 + -9.24815078*10 + 1.538712759952091

-77.51784144004792