In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('Book2.csv')

In [3]:
df

   speed  car_age  expriencerisk  risk
0    130        4           10.0    80
1     80        1            NaN    90
2    230        2            8.0    70
3     70       10           12.0    20
4    210        9           13.0    50
5      0        1            1.0     0
6    200       12           12.0    12
7    110        7            NaN   100
8    232        3            2.0   123

In [5]:
df.expriencerisk

0    10.0
1     NaN
2     8.0
3    12.0
4    13.0
5     1.0
6    12.0
7     NaN
8     2.0
Name: expriencerisk, dtype: float64

In [6]:
exm_fit = df.expriencerisk.mean()

In [7]:
exm_fit

8.285714285714286

In [8]:
df.expriencerisk = df.expriencerisk.fillna(exm_fit)

In [9]:
df.expriencerisk

0    10.000000
1     8.285714
2     8.000000
3    12.000000
4    13.000000
5     1.000000
6    12.000000
7     8.285714
8     2.000000
Name: expriencerisk, dtype: float64

In [10]:
df

   speed  car_age  expriencerisk  risk
0    130        4      10.000000    80
1     80        1       8.285714    90
2    230        2       8.000000    70
3     70       10      12.000000    20
4    210        9      13.000000    50
5      0        1       1.000000     0
6    200       12      12.000000    12
7    110        7       8.285714   100
8    232        3       2.000000   123

In [12]:
reg = linear_model.LinearRegression()

In [13]:
reg.fit(df[['speed', 'car_age', 'expriencerisk']], df.risk)

LinearRegression()

In [14]:
reg.predict([[110,3,4]])

C:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([63.09920376])

In [15]:
reg.coef_

array([ 0.26409864, -5.94964753,  0.9376003 ])

In [16]:
reg.intercept_

48.14689528977583

In [ ]:
0.26409864*110 +